%h2= "#{@group.teacher_first_name} #{@group.teacher_last_name}"

%table.table.table-striped#show_class_table
  %thead
    %tr
      %th
        Students
      %th
        %span.label.label-info
          %i.icon-edit
          =link_to "edit class", edit_group_path(@group.id), class: "button_link"
        &nbsp;
        %span.label.label-important
          %i.icon-trash
          =link_to "delete class", group_path(@group), method: :delete, data: {confirm: "Are you sure?"}, class: "button_link"
