%h1 Edit Teacher
= form_tag teacher_path(@teacher), method: :put

= render partial: 'form'

= submit_tag "Save Changes", class: "btn btn-small btn-success", id: "submit_btn"
%span.label.label-important
  %i.icon-trash
  = link_to "Delete Teacher", teacher_path(@teacher), class: "button_link", method: "delete", confirm: "Are you sure you want to delete this teacher?" 
