%h1 Add Teachers to School
= form_tag(school_teachers_path)

= render partial: 'form', locals: { count: @count}

%div
  #add-teacher-form
    = link_to '#', class: 'add_form' do
      %i.icon-plus-sign
      %span
        Add New Teacher
  %br

= submit_tag "Add Teachers", class: "btn btn-large btn-success", id: "submit_btn"
