= label_tag :subject
= select_tag :subject, options_for_select([['ELA', 'ELA'], ['Math', 'Math'], ['Science', 'Science'],  ['Social Studies', 'Social Studies']])
- hidden_field_tag :teacher_id, teacher_id